---
layout: default

---
{%include nav.html%}


<main class="container">
        <!--begin main-->
        <h1 class="apply-heading">Join Us</h1>

        <p class="about-description">
            <strong class="intro"> We’re in it together</strong>. We believe that the best work happens when talented people trust each other enough
            to take risks and be real. We’re passionate, curious, driven, and committed to doing great work. Are you with
            us?

        </p>

        <p class="about-description">
                A method of recruitment is used for people that are interested in becoming members of this youth organization.
            A batch of twenty people is accepted every six months - January and July. Once the time is due, the link to the application
            form is shared on our social media outlets. Interested persons can apply online through this form. Once applications
            are closed, successful applicants are notified through email.
        </p>

        <p class="about-description">
            A date for interview is then communicated to successful applicants. Finally, selected applicants receive emails that indicate
            that they are finally selected. Orientation follows suit to close the recruitment session. Applicants must be
            within the ages of 18 and 40, and must be able to read and write in simple basic English Language.
        </p>


        <a href="#" class="btn apply-btn">Apply Here</a>
    </main>

    {%include footer.html%}
