---
layout: default
---
{% include nav.html%}
<main>
        <h1 class="primary-heading project-heading">OUR PROJECTS</h1>
        <section class="container projects">  <!--begin project-->
            {% for project in site.projectcollection%}
            <div class="project">
                <img class="media-is-responsive" src="{{project.image}}" alt="">
                <div class="project-description">
                        <h3 class="primary-heading project-title">{{project.title}}</h3>
                        <p class="project-description">
                           {{project.description}}
        
                        </p>
                        <a href="{{project.url}}" class="btn btn-project">Read More</a> 
                </div>
                  
            </div>
            {% endfor %}

           

              

                   

        </section>   <!--end project-->

        {% include footer.html %}
</main>