    <!-- begin header-->
    <header class="header ">
        <div class="container flex">
             <img src="assets/images/yome.png" alt="">
             <span class="menu-button" onclick="opennav()">&#9776</span>
             <a href="" onclick="closenav()" class="close">&times;</a>
        </div>

     </header>
     <!--end header-->

<div class="topnav"> <!--begin nav-->
     <div class="nav  ">

         <img src="assets/images/logo.png" class="logo-primary" alt="logo">

         <nav class="links" role="navigation">
             <a class="is-active" href="index.html">Home</a>
             <a href="about.html">About US</a>
             <a href="apply.html">Join US</a>
             <a href="projects.html">Projects</a>
             <a href="contact.html">Contact Us</a>
         </nav>
 


     </div>

 </div>   <!--endnav-->