.apply-heading{
    font-size: 8rem;
    text-align: center;
}


.intro{
    font-weight: bold;
    color: #3e3e3e;
}

@media(min-width:720px){
   
.about-description{
  
    font-size: 2.3rem;
    width: 80%;
}
}

.apply-btn{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 4rem;
     margin-bottom: 2rem;
}