$color-primary:  rgba(34,65,93,0.9);
//$color-secondary:#0000ff45;
$color-black:#000000;
$color-white:#FFFFFF;
$color-grey:#f8f8f8;
$color-text:#5e5e5e;

//~~~~~~~~~~~~ Responsive Breakpoints ~~~~~~~~~~~~

/**
 * Breakpoint graph
 * http://www.sassmeister.com/gist/0614ac3971ae82925ef4
 *
 * This are just some breakpoints, test your content change as you will
 * Let the content dictate the breakpoint
 *
 * Example Usage in css:
 *
 * .con {
 *    width: 96%;
 *    margin: 0 auto;
 *
 *    @include respond-to(tablet-large) {
 *      width: 85%;
 *    }
 * }
 */

 $breakpoints: (

  //major breakpoints - note let the content dictate the breakpoints so amend base on the project
  'mobile-small'    :    '( min-width:  20.000em )',   // 240px
  'mobile-large'    :    '( min-width:  30.000em )',   // 320px;
  'tablet-small'    :    '( min-width:  35.000em )',   // 480px;
  'tablet-large'    :    '( min-width:  50.000em )',   // 768px
  'screen-small'    :    '( min-width:  64.000em )',   // 1024px
  'screen-medium'   :    '( min-width:  75.000em )',   // 1280px
  'screen-large'    :    '( min-width:  85.000em )',   // 1360px
  'screen-huge'     :    '( min-width: 100.000em )'    // 1600px

  //'complex': '( min-width: 767) and ( max-width: 992px)',
  //'super-complex': 'screen and (orientation:landscape) and (min-device-width: 800px)'
);

@mixin respond-to($name) {

  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{map-get($breakpoints, $name)} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    // Just warn the user
    @warn "Unfortunately, no value could be retrieved from '#{$name}'. "
        + "Please make sure it is defined in the '$breakpoints' map. ";
  }

}