<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YOMEVA</title>
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/styles/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
</head>
<body>
    {{ content }}
    <script src="assets/scripts/tweak.js"></script>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="assets/scripts/main.js"></script>

</html>